
/*home words changer*/

.Hloader {
    color: rgb(124, 124, 124);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}

.Hwords {
    overflow: hidden;
    position: relative;
}
.Hwords::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            var(--bg-color) 10%,
            transparent 30%,
            transparent 70%,
            var(--bg-color) 90%
    );
    z-index: 20;
}

.Hword {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #FEE715;
    animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
    0%, 20% {
        transform: translateY(0);
    }
    33%, 53% {
        transform: translateY(-100%);
    }
    66%, 86% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

